<!DOCTYPE html>
<html>
<head>
<style>
.container {
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

img { 
  width: 100%;
  height: auto;
  opacity: 0.3;
}
h2{
    text-align: center;
}
</style>
</head>
<body>

<h2>ABOUT US</h2>

<p></p>

<div class="container">
  <img src="https://media-exp2.licdn.com/dms/image/C561BAQE-51J-8KkMZg/company-background_10000/0/1548357920228?e=2147483647&v=beta&t=wrOVYN8qrGon9jILrMQv78FsyOV4IMQxr_3UjYtUREI" alt="Cinque Terre" width="1000" height="300">
  <div class="center">iDoEvents is a website that provides various of information about different events that's take places in different citys of Albania, 
    and more.You will find all the important informations about them and you are free to share the events that are organising with everyone.
    WE ARE WHERE THE FUN IS!

       
  </div>

</body>
</html>

